body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-image: url(/metro.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 30% 65% 1fr;
}

    .form {
        display: inline-block;
        grid-column: 2/3;
        background-color: #fff4;
        margin-top: 3vh;
    }

        p {
            display: inline-block;
            width: 100%;
            color: white;
            font-size: 22px;
            line-height: 24px;
            font-weight: bold;
            text-transform: capitalize;
        }
            p::after {
                content: ':';
            }

        label {
            display: inline-block;
            width: 50%;
            color: white;
            text-align: right;
            font-size: 16px;
        }
            label::after {
                content: ':';
            }
    .main {
        display: flex;
        justify-content: center;
        grid-column: 3/4;
        width: 90%;
        height: 90vh;
        margin: 5vh 5%;
        background-color: #0004;
    }
        .hair {
            display: inline-block;
            background-color: #0000;
            width: 50%;
            height: 50vh;
            margin-top: 10vh;
            padding: 0%;
            border: 0px solid #0000;
            border-radius: 20%;
            transition: 0.5s;
        }
            .face {
                display: flex;
                background-color: #0000;
                background-image: none;
                justify-content: space-around;
                flex-flow: row wrap;
                margin-top: 28%;
                width: 100%;
                height: 100%;
                border-bottom: 35px solid transparent;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
                transition: 0.5s;
            }
                .eyes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #00800000;
                    width: 20%;
                    height: 18%;
                    margin-top: 15%;
                    border: 1px solid #0000;
                    border-radius: 50%;
                    box-shadow: 0px 5px 3px grey;
                    transition: 1s;
                }
                    .eyes:hover {
                        height: 0%;
                        margin-top: 29%;
                        cursor: pointer;
                    }
                    .pupil {
                        display: inline-block;
                        width: 50%;
                        height: 50%;
                        background-color: black;
                        border: 1px solid black;
                        border-radius: 50%;
                    }
                .nose {
                    display: inline-block;
                    width: 100%;
                    padding: 0% 33%;
                    align-self: flex-end;
                    height: 65%;
                    transition: 0.5s;
                }
                    img {
                        display: inline-block;
                        width: 100%;
                        height: 60%;
                        margin-bottom: 40%;
                        transition: 0.5s;
                    }
.light {
    background-color: #eed8df;
}
.dark {
    background-color: rgb(43, 16, 16);
}
.yellow {
    background-color: rgb(230, 208, 13);
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}

.short {
    width: 50%;
    padding: 0%;
}
.long {
    width: 60%;
    padding: 0% 5%;
}
.blond {
    background-color: rgb(250, 255, 179);
    background-image: none;
}
.brown {
    background-color: rgb(34, 23, 23);
    background-image: none;
}
.black {
    background-color: black;
    background-image: none;
}
.grey {
    background-color: rgb(187, 184, 184);
    background-image: none;
}
.cyber {
    background-image: linear-gradient(to left, hsl(120, 100%, 33%), hsl(300, 99%, 34%));
}
.no {
    border-bottom-color: transparent;
}
.blondb {
    border-bottom-color: rgb(250, 255, 179);
}
.brownb {
    border-bottom-color:  rgb(34, 23, 23);
}
.blackb {
    border-bottom-color: black;
}
.greyb {
    border-bottom-color: rgb(187, 184, 184);
}
.blueb {
    border-bottom-color: blue;
}
.greye {
    background-color: rgb(112, 116, 122);
}
.browne {
    background-color: rgb(61, 37, 32);
}
.mask {
    margin-top: 5%;
    padding: 0% 0%;
    height: 100%;
}
